@import "./button.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

.thumbnail {
  height: 60px;
  width: 80px;
}

.navbar-offset-top {
  margin-top: 66px;
}

.navbar-height {
  height: calc(100% - 106px);
}
