@import "./button.css";
@import "./list-animation.css";
@import "./loading.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

.thumbnail {
  height: 60px;
  width: 80px;
}

.navbar-offset-top {
  margin-top: 66px;
}

.navbar-height {
  height: calc(100% - 106px);
}

.icon-height {
  height: 32px;
}

.image {
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}
